:root {
    --r: 255;
    --g: 255;
    --b: 255;
    --bgcolor: rgb(var(--r), var(--g), var(--b));
    --fsize: 0rem;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: var(--bgcolor);
}

.App {
    padding: 2rem;
}

h1 {
    transition: font-size 150ms;
    font-size: var(--fsize)
}
